h1 {
  background-color: blue;
}

#prizes {
  background-color: green;
}

#totalPrizeCount {
  background-color: magenta;
}

#names {
  background-color: pink;
  border: red solid 1px;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  justify-content: space-around;
  list-style: none;
  border: dotted green 1px;
  display: flex;
}

#customerPrizes {
  background-color: dodgerblue;
  border: black solid 1px;
}

#prizeCount {
  background-color: orange;
}
